In [1]:
from IPython.display import display
# from pprint import pprint as pp
import pandas as pd

In [2]:
import difflib
def get_text_ls(filename):
    """Returns text of file as a list of strings"""
    with open(filename, 'r') as f_in:
        return f_in.readlines()

def find_diffs(file1, file2):
    """Returns tuple of added and removed lines between 2 files."""
    diff_results = list(difflib.Differ().compare(
        get_text_ls(file1),
        get_text_ls(file2)))
    added = [ln.lstrip('+ ') for ln in diff_results if ln[0] is '+']
    removed = [ln.lstrip('- ') for ln in diff_results if ln[0] is '-']
    return added, removed

def merge_additions(file1, file2):
    """Compares 2 files and creates new file containing additions
    from `diffed` files. Returns deletions as a list."""
    adds, dels = find_diffs(file1, file2)
    text1 = get_text_ls(file1)
    text1.extend(adds)
    merged_filename = 'MERGED_{}'.format(file1)
    print(len(text1))
    with open(merged_filename, 'w') as f_out:
        f_out.writelines(text1)
    print('\t*ADDITIONS MERGED*\n->', merged_filename)
    print('\nAdds\t| Subs\n{}'.format('=' * 18))
    print('{}\t| {}'.format(len(adds), len(dels)))
    return dels

In [3]:
find_diffs('MOCK_DATA_1.csv', 'MOCK_DATA_2.csv')[1]

['124,Benyamin,Dutnell,bdutnell3f@delicious.com,Fuscia,9 Iowa Crossing,Santa Rosa,California,95405,5/11/2018\n',
 '125,Yoko,Korneichuk,ykorneichuk3g@un.org,Fuscia,024 Springs Terrace,Waco,Texas,76796,3/8/2018\n',
 '126,Dylan,Parkman,dparkman3h@msn.com,Indigo,453 Melody Street,Madison,Wisconsin,53716,4/29/2018\n',
 '127,Ellsworth,Bechley,ebechley3i@businessweek.com,Khaki,50554 Steensland Parkway,Seattle,Washington,98140,5/3/2018\n',
 '149,Ravi,Lethby,rlethby44@zdnet.com,Green,143 Delladonna Circle,Crawfordsville,Indiana,47937,11/14/2017\n',
 '153,Wendi,Colegate,wcolegate48@sourceforge.net,Indigo,7 Dryden Circle,New Orleans,Louisiana,70187,5/9/2018\n',
 '154,Consuela,Hempel,chempel49@tinyurl.com,Green,5022 Thackeray Trail,Salt Lake City,Utah,84140,12/26/2017\n',
 '155,Roosevelt,Lewis,rlewis4a@ibm.com,Aquamarine,1876 Merry Avenue,Oakland,California,94660,6/7/2017\n',
 '156,Gretel,Landreth,glandreth4b@go.com,Yellow,1 Redwing Circle,Tacoma,Washington,98411,2/6/2018\n',
 '157,Griswold,Marrion,gmarrion4c@sourceforge.net,Mauv,13 Leroy Place,Denver,Colorado,80217,6/27/2017\n',
 '169,Ranique,McCaskill,rmccaskill4o@nature.com,Aquamarine,73044 North Point,Dallas,Texas,75246,8/20/2017\n',
 '170,Brnaba,Gernier,bgernier4p@state.tx.us,Green,5013 Canary Plaza,Sacramento,California,95828,11/24/2017\n',
 '171,Natala,Ranyell,nranyell4q@icq.com,Maroon,65879 Macpherson Way,North Hollywood,California,91616,8/24/2017\n',
 '172,Catlin,Yarrow,cyarrow4r@apache.org,Violet,2863 Dakota Lane,Amarillo,Texas,79118,11/11/2017\n',
 '173,Mallissa,Braunton,mbraunton4s@networksolutions.com,Turquoise,19 Havey Crossing,Colorado Springs,Colorado,80925,8/11/2017\n',
 '174,Christie,Macon,cmacon4t@4shared.com,Turquoise,2 Anniversary Drive,Vancouver,Washington,98687,3/16/2018\n',
 '175,Padraig,Wolfe,pwolfe4u@bravesites.com,Green,14 Pepper Wood Trail,Santa Monica,California,90410,10/24/2017\n',
 '176,Gerrie,Claussen,gclaussen4v@wikimedia.org,Yellow,865 Porter Terrace,Cleveland,Ohio,44197,7/31/2017\n',
 '177,Genny,Esslement,gesslement4w@meetup.com,Teal,1 Pond Circle,Phoenix,Arizona,85077,2/22/2018\n',
 '178,Elonore,Kilshall,ekilshall4x@slideshare.net,Mauv,1 American Ash Trail,Bakersfield,California,93386,6/5/2017\n']

In [4]:
merge_additions('MOCK_DATA_1.csv', 'MOCK_DATA_2.csv')

217
	*ADDITIONS MERGED*
-> MERGED_MOCK_DATA_1.csv

Adds	| Subs
==================
17	| 20

['124,Benyamin,Dutnell,bdutnell3f@delicious.com,Fuscia,9 Iowa Crossing,Santa Rosa,California,95405,5/11/2018\n',
 '125,Yoko,Korneichuk,ykorneichuk3g@un.org,Fuscia,024 Springs Terrace,Waco,Texas,76796,3/8/2018\n',
 '126,Dylan,Parkman,dparkman3h@msn.com,Indigo,453 Melody Street,Madison,Wisconsin,53716,4/29/2018\n',
 '127,Ellsworth,Bechley,ebechley3i@businessweek.com,Khaki,50554 Steensland Parkway,Seattle,Washington,98140,5/3/2018\n',
 '149,Ravi,Lethby,rlethby44@zdnet.com,Green,143 Delladonna Circle,Crawfordsville,Indiana,47937,11/14/2017\n',
 '153,Wendi,Colegate,wcolegate48@sourceforge.net,Indigo,7 Dryden Circle,New Orleans,Louisiana,70187,5/9/2018\n',
 '154,Consuela,Hempel,chempel49@tinyurl.com,Green,5022 Thackeray Trail,Salt Lake City,Utah,84140,12/26/2017\n',
 '155,Roosevelt,Lewis,rlewis4a@ibm.com,Aquamarine,1876 Merry Avenue,Oakland,California,94660,6/7/2017\n',
 '156,Gretel,Landreth,glandreth4b@go.com,Yellow,1 Redwing Circle,Tacoma,Washington,98411,2/6/2018\n',
 '157,Griswold,Marrion,gmarrion4c@sourceforge.net,Mauv,13 Leroy Place,Denver,Colorado,80217,6/27/2017\n',
 '169,Ranique,McCaskill,rmccaskill4o@nature.com,Aquamarine,73044 North Point,Dallas,Texas,75246,8/20/2017\n',
 '170,Brnaba,Gernier,bgernier4p@state.tx.us,Green,5013 Canary Plaza,Sacramento,California,95828,11/24/2017\n',
 '171,Natala,Ranyell,nranyell4q@icq.com,Maroon,65879 Macpherson Way,North Hollywood,California,91616,8/24/2017\n',
 '172,Catlin,Yarrow,cyarrow4r@apache.org,Violet,2863 Dakota Lane,Amarillo,Texas,79118,11/11/2017\n',
 '173,Mallissa,Braunton,mbraunton4s@networksolutions.com,Turquoise,19 Havey Crossing,Colorado Springs,Colorado,80925,8/11/2017\n',
 '174,Christie,Macon,cmacon4t@4shared.com,Turquoise,2 Anniversary Drive,Vancouver,Washington,98687,3/16/2018\n',
 '175,Padraig,Wolfe,pwolfe4u@bravesites.com,Green,14 Pepper Wood Trail,Santa Monica,California,90410,10/24/2017\n',
 '176,Gerrie,Claussen,gclaussen4v@wikimedia.org,Yellow,865 Porter Terrace,Cleveland,Ohio,44197,7/31/2017\n',
 '177,Genny,Esslement,gesslement4w@meetup.com,Teal,1 Pond Circle,Phoenix,Arizona,85077,2/22/2018\n',
 '178,Elonore,Kilshall,ekilshall4x@slideshare.net,Mauv,1 American Ash Trail,Bakersfield,California,93386,6/5/2017\n']

In [5]:
merged = pd.read_csv('MERGED_MOCK_DATA_1.csv', dtype=str)
display(merged.head())
display(merged.tail())
display(merged.describe().transpose())

,id,first_name,last_name,email,color,Home Address,City,State,Zip Code,Date
0,1,Shell,Collelton,scollelton0@whitehouse.gov,Indigo,05 Lawn Road,Bethesda,Maryland,20892,8/31/2017
1,2,Bebe,Grevel,bgrevel1@typepad.com,Violet,4 Fisk Place,Atlanta,Georgia,30316,7/25/2017
2,3,Libbey,Minards,lminards2@upenn.edu,Green,36373 Holmberg Terrace,Cincinnati,Ohio,45203,3/11/2018
3,4,Rosalie,Pilley,rpilley3@abc.net.au,Purple,51 Ramsey Crossing,Charleston,West Virginia,25313,2/2/2018
4,5,Waldemar,Stitcher,wstitcher4@posterous.com,Orange,51928 Florence Lane,El Paso,Texas,88541,10/7/2017

,id,first_name,last_name,email,color,Home Address,City,State,Zip Code,Date
211,13,Ceciley,Sodo,csodoc@berkeley.edu,Khaki,8 Cherokee Crossing,Indianapolis,Indiana,46231,1/16/2018
212,195,Melania,Rushford,mrushford5e@unblog.fr,Teal,266 Truax Plaza,Irvine,California,92619,3/9/2018
213,196,Karel,Bromwich,kbromwich5f@cmu.edu,Green,97 Manitowish Alley,Fresno,California,93750,10/9/2017
214,197,Michale,Heisham,mheisham5g@hugedomains.com,Maroon,49859 Pine View Crossing,Chula Vista,California,91913,3/30/2018
215,198,Cullan,Dafforne,cdafforne5h@ycombinator.com,Mauv,42576 Delaware Junction,San Mateo,California,94405,4/2/2018

             count unique                  top freq
id             216    199                    1    2
first_name     216    211             Carmelle    2
last_name      216    213                 Sodo    2
email          216    213  csodoc@berkeley.edu    2
color          216     19               Purple   18
Home Address   216    213     787 Anthes Court    2
City           216    138            Charlotte    6
State          216     40           California   35
Zip Code       216    200                23208    2
Date           216    153            1/16/2018    4